<h1>Add a new photo</h1>


<form action="http://localhost:3000/photos/new">
  Caption:
  <input name="the_caption" type="text">

  Source:
  <input name="the_source" type="text">

  <button>Enter</button>

</form>



